---
title: ampreact
component: ContentPage
---
div
  div
    h3 Runtime Components
    dl
      dt <a href="https://facebook.github.io/react/">React</a>
      dd A JavaScript library for building user interfaces, developed by Facebook
      dt <a href="https://www.ampproject.org/">AMP HTML</a>
      dd A way to build web pages that renders with fast performance, developed by Google
  div
    h3 Development Tools
    dl
      dt <a href="https://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="https://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
